# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
cache: packages

matrix:
  include:
    - os: linux
      dist: trusty
      sudo: required
      before_install: [
        "sudo add-apt-repository \"deb http://archive.ubuntu.com/ubuntu/ xenial main\" -y",
        "sudo apt-get update -q",
        "sudo apt-get install libfreetype6"
      ]
    - r: devel
    - os: osx
      osx_image: xcode7.2
      brew_packages: cairo
      latex: false
